<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @name.string %>
</p>

<p>
  <strong>Seat id seq:</strong>
  <%= @name.seat_id_seq %>
</p>

<p>
  <strong>String:</strong>
  <%= @name.string %>
</p>

<p>
  <strong>Address:</strong>
  <%= @name.address %>
</p>

<p>
  <strong>String:</strong>
  <%= @name.string %>
</p>

<p>
  <strong>Price:</strong>
  <%= @name.price %>
</p>

<p>
  <strong>Float:</strong>
  <%= @name.float %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @name.email_address %>
</p>

<p>
  <strong>String:</strong>
  <%= @name.string %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
